<div id="dashboard-main" class="scrollable">
	<div class="tile" id="dashboard-welcome">
		<h1>Welcome to the pretty dashboard</h1>
		<div class="clickable">
			<a ui-serf="page.fridges" class="">Your fridges</a>
			<a ui-serf="page.products" class="">The Products</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="tile" id="dashboard-alerts">
					<p class="tile-title">Alerts</p>
					<div class="well scrollable">
						<ul>
							<li class="clickable content" ng-repeat="wrn in warnings.fridge" ui-sref="page.fridgesView({id: wrn.fridge_no})">
								<p>{{wrn.fridge_name}}</p>
								<p>{{wrn.message}}</p>
							</li>
						</ul>
						<div class="warnings-info" id="no-fridges" ng-if="no_fridges === 0">
							<p>You don't have any fridges</p>
							<p>Try adding some!</p>
						</div>
						<div class="warnings-info" id="no-fridge-alerts" ng-if="warnings.fridge.length === 0 && no_fridges !== 0">
							<p>No Alerts</p>
							<p>Congrats on your perfect fridges!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6"><div class="tile" id="dashboard-contents">
				<p class="tile-title">Content Warnings</p>
				<div class="well scrollable">
					<ul>
						<li class="clickable content" ng-repeat="wrn in warnings.content | limitTo: 4" ui-sref="page.productsView({id: wrn.object.content.product.code})">
							<p>{{wrn.object.content.product.name}}</p>
							<p>{{wrn.message}}</p>
						</li>
					</ul>
					<div class="warnings-info" id="no-contents-fridges" ng-if="no_fridges === 0">
						<p>You don't have any fridges</p>
						<p>Try adding some to add products!</p>
					</div>
					<div class="warnings-info" id="no-contents" ng-if="no_contents === 0 && no_fridges !== 0">
						<p>Your fridges are all empty</p>
						<p>Try adding something!</p>
					</div>
					<div class="warnings-info" id="no-contents-alerts" ng-if="warnings.contents.length === 0 && no_contents !== 0 && no_fridges !== 0">
						<p>No Alerts</p>
						<p>Congrats on your perfect products!</p>
					</div>
				</div>
			</div></div>
		</div>
	</div>
</div>