$primary : #ff5541;
$secondary : #ff32c8;
$trinary : #ff3863;
$primarybackground : #1F1F1F;
$secondarybackground : #282828;
$main-font : 'Open Sans', sans-serif;
$main-font_bold : 'Open Sans', sans-serif;

@import "setup/reset";

@import "setup/helper";
@import "setup/animations";
@import "setup/grid";

@import "navigation/toolbar";
@import "navigation/footer";

@import "setup/screen";

@import "responsive/tablet";
@import "responsive/mobile";