#body-wrapper{
  height: calc(100% - #{$header-height});
  position: relative;
  top: $header-height;
  transform: translateX(0);
  transition: all 0.5s ease;
}

#body-wrapper.show-menu{
  transform: translateX( $nav-width );
}

#body-loaded{
  overflow: hidden;
}

.cancel-header{
  top: 0 !important;
  height: 100% !important;
}

nav{
  width: $nav-width;
  height: 100%;
  position: absolute;
  left: - $nav-width;
  background: $background;
}

main{
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 900px){

  .cancel-header{
	left: 0 !important;
  }

  #body-wrapper{
	left: $nav-width;
  }



  main{
	width: calc(100% - #{$nav-width});
  }

  main.cancel-header{
	width: 100% !important;
  }

}