
$background-color: radial-gradient(ellipse farthest-corner at 45px 45px ,
		rgb(255,85,65) 1%,
		#FF3863 50%,
		rgba(255, 50 , 200, 1) 95%);

$highlight: rgb(255,85,65);

$background: #1F1F1F;

$background-light: #282828;