#dashboard-main{

  #dashboard-welcome{

	background-image: $background-color;
	color: white;
	padding: 0;
	height: 15rem;
	position: relative;

	h1{
	  padding: 4rem 0;
	  text-align: center;
	  font-size: 3rem;
	}



	>div{
	  border-top: 1px solid rgba(255,255,255,0.4);
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	}

	a{
	  color: white;
	  width: calc(50% - 3px);
	  display: inline-block;
	  text-align: center;
	  font-size: 1.5rem;
	  line-height: calc(4rem - 1px);
	  transition: background 1s;
	}

	a:hover{
	  text-decoration: none;
	  background: rgba(0,0,0,0.1);
	}

	a:first-of-type{
	  border-right: 1px solid rgba(255,255,255,0.4);
	}
  }

  .container{
	height: calc( 100% - 15rem);
  }

  .well{
	overflow-y: auto;
	height: calc(100% - 27px);
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

	.content{
	  padding: 1rem 0;
	  border-bottom: 1px solid #eee;

	  >p{
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	  }
	}

	.content:last-of-type{
	  border-bottom: none;
	}
  }

}

@media screen and (max-width: 850px){

  #dashboard-main{

	#dashboard-welcome{

	  h1{
		font-size: 1.5rem;
	  }
	}
	}

}

@media screen and (min-width: 768px){

  #dashboard-main{
	.tile{
	  border-bottom: none;
	}
  }

}