.general-content-container{
	padding-top: 5rem;
    background: white;
    width: 70%;
    margin: auto;
    padding: 2rem;
}

.general-content-container{

	margin: 3rem auto;

	h1{
    	text-align: center;
    	padding-bottom: 2rem;
    	margin-bottom: 1rem;
    	border-bottom: 1px solid #aaa;
     }

	p:first-of-type{
		text-align: center;
	}

	p{
		margin-bottom: 1rem;
		font-size: 0.8rem;
	}

	a{
		display: block;
		text-align: center;
		margin-bottom: 1rem
	}
}

.page404 h2{
	text-align: center;
	margin-bottom: 2rem;
}

@media (min-width: 850px){
  .general-content-container{
	width: 600px;
  }
}