$header-height: 3.5rem;
$nav-width: 250px;






html, body, .full-height{
  height: 100%;
}

.no-display{
  display:none;
}

.border-underline{
  border-bottom: 1px solid #aaa;
}

.border-underline-white{
  border-bottom: 1px solid white;
}

.border-underline-thick-white{
  border-bottom: 3px solid white;
}

.clickable{
  cursor: pointer;
}

/*
 * Loading page
 */

#body-loading{
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  background-image: $background-color;
  width: 100%;
  z-index: 1000;
}

#body-loading.fadeout{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#body-loading-content.fadeout-quick{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#body-loading-content p{
  margin-top: 3rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#body-loading h1{
  color: white;

  text-align: center;
  padding-bottom: 1rem;
  width: 70%;
  margin: 5rem auto 0 auto;
  max-width: 400px;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
	box-shadow: 0 0 #ffffff;
	height: 4em;
  }
  40% {
	box-shadow: 0 -2em #ffffff;
	height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
	box-shadow: 0 0 #ffffff;
	height: 4em;
  }
  40% {
	box-shadow: 0 -2em #ffffff;
	height: 5em;
  }
}