#products{

  .control{
	border-bottom: 1px solid #eee;
	height: 2.5rem;
	position: relative;

	label, button{
	  display: none;
	}
  }

  #searchStringafter{
	width: calc(100% - 2px - #{2.5rem})
  }

  #searchString{
	border: none;
	border-right: 1px solid #eee;
	height: calc( #{2.5rem} - 1px);
	width: calc(100% - #{2.5rem});
  }

  #searchStringafter:after{
	font-family: icomoon;
	content: '\e907';
	color: #999;
	font-size: 1.5rem;
	position: absolute;
	top: 0.5rem;
	right: calc(#{2.5rem} + 0.75rem);
  }

  .form-group{
	width: 100%;
  }

  #products-add-new{
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.5rem;
	padding: 0.5rem;

	position: absolute;
	top: 0;
	right: 0;

	border-left: 1px solid #aaa;
  }

  #products-add-new:before{
	font-family: icomoon;
	content: '\e901';
  }

  .products-result{
	padding: 1rem;
	border-bottom: 1px solid #eee;

	h3{
	  font-size: 1.4rem;
	  padding-bottom: 0.8rem;
	}
  }

}

#products-edit{
  padding: 1rem 0;

  button{
	width: 100%;
  }
}

#products-view{

  h1{
	margin-bottom: 0.5rem;
  }

  #products-info{
	table{
	  line-height: 1.4;
	  font-size: 1rem;
	}

	td:last-of-type:before{
	  content: '-';
	  padding: 0 1rem;
	}
  }

  button{
	width: 100%;
	margin: 2rem 0;
  }

}