.user-login-page{
  background-image: $background-color;
  overflow-y: auto;
}

.user-login-wrapper{
	padding-top: 5rem;
}

.user-login-container{
  background: white;
  width: 70%;
  margin: auto;
  padding: 2rem;



  h1{
	text-align: center;
	padding-bottom: 2rem;
	border-bottom: 1px solid #aaa;
  }

  form{
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #aaa;
  }

  button{
	width: 100%;
	display: block;
  }

  .checkbox label{
	font-size: 0.8rem;
  }

  #user-login-register{
	margin-top: 1rem;

	p {
	  text-align: center;
	  margin-bottom: 1rem;
	}

	a{
	  display: block;
	  width: 100%;
	}
  }
}

@media (min-width: 850px){
  .user-login-container{
	width: 600px;
  }
}

/*
 * Below is the user profile
 */

#user-profile{
  #basic-info{

	padding: 1rem 0.5rem;
	border-bottom: 1px solid #eee;

	img{
	  float: left;
	  margin-right: 1rem;
	}

	li{
	  	padding: 0 1rem 0.5rem 0.5rem;
	}
	
	p:first-of-type{
	  font-weight: bold;
	}
  }
}