h1 {
    font-family: $main-font_bold;
    font-size: 3.4em;
}

h2 {
    font-family: $main-font_bold;
    font-size: 2.8em;
}

h3 {
    font-family: $main-font_bold;
    font-size: 2em;
}

h4 {
    font-family: $main-font_bold;
    font-size: 1.8em;
}

h5 {
    font-family: $main-font_bold;
    font-size: 1.4em;
}

h6 {
    font-family: $main-font_bold;
    font-size: 1.2em;
}

h4 {}

h5 {}

h6 {}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: $main-font;
    background-color: $secondarybackground;
    color: white;
}

html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.other-background{
    background-color: #282828;
}

header{
    background-image: $header-background;
    padding: 4rem 0 4rem 0;
    text-align: center;
    color: white;
}

header h1{
    font-size: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;

    margin: 0 auto 1rem auto;
    width: 300px;
}

header h2{
    font-size: 2rem;

    @media screen and (max-width: 700px){
        font-size: 1.5rem;
        width: 80%;
        margin: auto;
    }

    @media screen and (max-width: 550px){
        font-size: 1.25rem;
    }

    @media screen and (max-width: 460px){
        font-size: 1rem;
    }

}

#blurb{
    background-color: $primarybackground;
    text-align: center;
    color: white;
    padding: 2rem;
}

#blurb p{
    width: 70%;
    margin: auto;
    line-height: 1.5;
}

#launch-container{
    padding: 5rem 0;
}

#launch{
    display: block;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: .0625rem solid transparent;
    background-color: white;
    width: 300px;
    color: black;
    text-decoration: none;
    margin: auto;
    transition: all 0.5s ease;
}

#launch:hover{
    background-color: $secondary;
    color: white;
}

.content-primary{
    background-color: $primarybackground;
    color: white;
    padding: 2rem;
    p{
        width: 70%;
        margin: auto;
        line-height: 1.5;
        font-size: 1.25rem;

        @media screen and (max-width: 768px){
            font-size: 1rem;
        }

        @media screen and (max-width: 400px){
            font-size: 1rem;
        }

        &:not(:last-of-type){
            padding-bottom: 2rem;
        }

        &:last-of-type{
            padding-bottom: 5rem;
        }
    }
    ul{
        width: 70%;
        margin: auto;
        list-style: initial;
        list-style-position: inside;
        padding-top: 1rem;
        padding-bottom: 1rem;
        li{

        }
    }
}
.content-secondary{
    background-color: $secondarybackground;
    color: white;
    padding: 2rem;

    p{
        width: 70%;
        margin: auto;
        line-height: 1.5;
        font-size: 1.25rem;

        @media screen and (max-width: 768px){
            font-size: 1rem;
        }

        @media screen and (max-width: 400px){
            font-size: 1rem;
        }

        &:not(:last-of-type){
            padding-bottom: 2rem;
        }

        &:last-of-type{
            padding-bottom: 5rem;
        }
    }
    
    ul{
        width: 70%;
        margin: auto;
        list-style: initial;
        list-style-position: inside;
        padding-top: 1rem;
        padding-bottom: 1rem;
        li{

        }
    }
}

.p-override{
    p:last-of-type{
        padding-bottom: 0;
    }
}

.page-width {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.header-primary{
    background-color: $primarybackground;
    color: white;
    padding: 2rem;
    h1{
        margin-bottom: 10px;
    }
}

.primary{
    color: $primary;
}

.secondary{
    color: $secondary;
}

.trinary{
    color: $trinary;
}

.noborder{
    border: none;
}

.side-box{
    text-align: center;
    height: 200px;
    h1,p{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    p{
        padding: 2rem;
    }
}

.content-boxes{
    padding-top: 15px;
    padding-bottom: 15px;
    .row{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.step-box{
    padding: 2rem;
    h1{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid white;
        margin: 0 auto 1rem auto;
        width: 500px;
    }
}

.text-center{
    text-align: center;
}

.person-info{
    padding-top: 2rem;
    padding-bottom: 2rem;

    p:last-of-type{
        padding-bottom: 0;
    }

    .person-detials{
        
        ul{
            width: 200px;
        }

        li{
            list-style: none;
            text-align: left;
            padding: 0.5rem 0;

            i{
                padding-right: 1rem;
            }
        }
    }
}

.no-padding{
    padding: 0;
}

.header-padding{
    h1,h2,h3{
        padding-bottom: 1.5rem;
    }
    h1{
        width: 100%;
        margin: auto;
    }
    h2{
        width: 90%;
        margin: auto;
    }
    h3{
        width: 80%;
        margin: auto;
    }
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.panel{
    margin-top: 0!important;
    margin-bottom: 0;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    &:not(:first-of-type) {
        border-top: 1px solid #333;
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid black;
    }
    h1{
        a{
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            text-decoration: none;
            color: inherit;
        }
        a:visited{
            text-decoration: none;
            color: inherit;
        }
    }
    .in{
        background-color: $secondarybackground;
    }
}