// Footer Styling
$footerhover: $trinary;
$footertext: #888888;

footer{
    padding: 1rem 2rem;
    border-top: 1px solid #eee;
    background-color: $secondarybackground;
    color: $footertext;

    @media screen and (max-width: 750px){
        font-size: 0.8rem;
    }

    #copyright{

        float: left;

        @media screen and (max-width: 1150px){
            float: none;
            max-width: 685px;
            width: 100%;
            margin: auto;
            margin-bottom: 3rem;
        }

        li{
            float: left;
            display:inline-block;
            padding-left: 0.5rem;

            @media screen and(max-width: 750px){
                float: none;
                display: block;
                text-align: center;
                padding: 0.5rem 0;

                &:first-of-type{
                    padding-top: 2rem;
                }
            }
        }
    }
    #disclaimer{
        float: right;
        padding-right: 0.5rem;

        @media screen and (max-width: 1150px){
            float: none;
            max-width: 400px;
            width: 100%;
            margin: auto;
        }

    }
    li{
        display:inline-block;
    }
    a, a:hover, a:visited{
        text-decoration: none;
        color: $footertext;
    }
    a:hover{
        color: $footerhover;
    }
    a{
        transition: color 0.5s;
    }
}