$navhover: $trinary;
$navtext: #ffffff;

header{
	a{
		text-decoration: none;
		color: white;
	}
	a:hover{
		text-decoration: none;
		color: white;
	}
	a:visited{
		text-decoration: none;
		color: white;
	}
}

#nav{
	background: $secondarybackground;
	color: $navtext;
	text-transform: uppercase;
	padding: 20px;
	text-align: center;
	border: 0;
	margin-bottom: 0;
	width: 100%;
	ul {
	  display: inline-block;
	  float: none;
	  text-align: center;
	  li{
	  	a{
	  		transition: 0.5s ease;
	  	}
	  	a:hover{
	  		color: $trinary;
	  	}
	  }
	}
	button{
		float: none;
    	margin-left: 0;
    	margin-right: 0;
    	border: 0;
    	text-transform: uppercase;
    	background-color: transparent;
	}
}

