<div class="user-login-page full-height">

	<div class="user-login-wrapper">
		<div class="user-login-container">

			<h1>ACRONYM</h1>

			<form name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>
				<div class="form-group" ng-class="{'has-error': registerForm.username.$invalid && registerForm.username.$touched}">
					<label class="control-label" for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="user.username" required>
				</div>
				<div class="form-group" ng-class="{'has-error': registerForm.email.$invalid && registerForm.email.$touched}">
					<label class="control-label" for="email">Email Address</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" ng-model="user.email" required>
				</div>
				<div class="form-group" ng-class="{'has-error': registerForm.password.$invalid && registerForm.password.$touched}">
					<label class="control-label" for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
				</div>
				<div class="checkbox" ng-class="{'has-error': registerForm.accept.$invalid && registerForm.accept.$touched}">
					<label>
						<input type="checkbox" name="accept" ng-model="user.accept" required> You agree to our <a ui-sref="terms">terms and conditions</a>
					</label>
				</div>
				<button type="submit" class="btn btn-default" ng-disabled="!registerForm.$valid">Register</button>
			</form>

			<div id="user-login-register">
				<p>Already have an account?</p>
				<a ui-sref="user.auth.login" class="btn btn-default">Log In Here</a>
			</div>

		</div>
	</div>

</div>