<div id="header-back" ng-click="back()" ng-class="{'no-display': !app.displayBack }">

</div>
<div id="header-menu" ng-click="toggleGlobalMenu()" ng-class="{'no-display': app.displayBack }">

</div>
<div id="header-content">
	<p>{{app.stateTitle}}</p>
</div>
<div id="header-user">
	<img ng-src="{{imageurl}}" ng-click="toggleUserMenu()">
</div>
<div id="header-user-menu" ng-class="{'no-display': !showUserMenu}">
	<ul>
		<li ui-sref="page.userprofile">Profile</li>
		<li ng-click="logout()">Logout</li>
	</ul>
</div>