<div id="products">
	<div class="control">
		<form ng-submit="search()" class="form-inline">
			<div class="form-group">
				<label class="control-label" for="searchString">Product Search</label>
				<span id="searchStringafter"><input type="text" class="form-control" id="searchString" placeholder="searchString" ng-model="searchString"></span>
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		<div id="products-add">
			<p id="products-add-new" ui-sref="page.productsAdd"></p>
		</div>
	</div>
	<div id="products-results" infinite-scroll='search()' infinite-scroll-distance='2'>
		<div ng-repeat="(key, product) in products" ng-click="goTo(product._id)">
			<h3>{{product.name}}</h3>
			<p>{{product.description}}</p>
		</div>
	</div>
</div>